#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 7;

        background: #835afd;
        color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 7.5rem 5rem;

        img {
            max-width: 320px;
        }

        strong {
            font: 700 2.25rem 'Poppins', sans-serif;
            line-height: 2.625rem;
            margin-top: 1rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 1rem;
            color: #f8f8f8
        }
    }

    main {
        flex: 8;

        padding: 0 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;

        > img {
            align-self: center;
        }

        h2 {
            font-size: 24px;
            margin: 64px 0 24px;
            font-family: 'Poppins', sans-serif;
        }

        form {
            input {
                height: 50px;
                border-radius: .5rem;
                padding: 0 1rem;
                background: #fff;
            }

            button {
                margin-top: 1rem;
            }

            button, input {
                width: 100%;
            }
        }

        p {
            font-size: 14px;
            color: #737380;
            margin-top: 16px;

            a {
                color: #e559f9;
            }
        }
    }

    .create-room {
        margin-top: 4rem;
        height: 50px;
        border-radius: .5rem;
        font-weight: 500;
        background: #ea4335;
        color: #fff;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0;
        cursor: pointer;

        img {
            margin-right: .5rem;
        }

        &:hover {
            filter: brightness(0.8)
        }

        transition: filter 0.2s;
    }

    .separator {
        font-size: 14px;
        color: #a8a8b3;

        margin: 2rem 0;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-right: 1rem;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 1rem;
        }
    }
}