#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 7;

        background: #835afd;
        color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 7.5rem 5rem;

        img {
            max-width: 320px;
        }

        strong {
            font: 700 2.25rem 'Poppins', sans-serif;
            line-height: 2.625rem;
            margin-top: 1rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 1rem;
            color: #f8f8f8
        }
    }

    main {
        flex: 8;

        padding: 0 1rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;

        > img {
            align-self: center;
        }

        form {
            input {
                height: 50px;
            }
        }
    }
}