.question {
    background: #FEFEFE;
    border-radius: .5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 1.5rem;

    & + .question {
        margin-top: .5rem;
    }

    &.answered {

    }

    &.highlighted {
        border: 1px solid #835AFD;

        footer .user-info span {
            color: #29292E;
        }
    }

    p {
        color: #29292E;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;

        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }

            span {
                margin-left: .5rem;
                color: #737380;
                font-size: 14px;
            }
        }

        > div {
            display: flex;
            gap: 1rem;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;

            transition: filter 0.2s;

            &.like-button {
                display: flex;
                align-items: flex-end;
                color: #737380;
                gap: .5rem;

                &.liked {
                    color: #835AFD;
    
                    svg path {
                        stroke: #835AFD;
                    }
                }
            }

            &:hover {
                filter: brightness(0.7);
            }
        }
    }
}