.room-code {
    height: 2.5rem;
    border-radius: .5rem;
    overflow: hidden;

    background: #FFF;
    border: 1px solid #835AFD;
    cursor: pointer;

    display: flex;

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.95);
    }

    div {
        background: #835AFD;
        padding: 0 .75rem;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 1rem 0 .75rem;
        width: 230px;
        font-size: 14px;
        font-weight: 500;
    }
}