#page-room {
    header {
        padding: 1.5rem;
        border-bottom: 1px solid #E2E2E2;

        .content {
            max-width: 1120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > img {
                max-height: 45px;
            }
        }
    }
}

main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
        margin: 2rem 0 1.5rem;
        display: flex;
        align-items: center;

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
            color: #29292E;
        }

        span {
            margin-left: 1rem;
            background: #E559F9;
            border-radius: 99999999px;
            padding: .5rem 1rem;
            color: #FFF;
            font-weight: 500;
            font-size: 14px;
        }
    }

    form {
        textarea {
            width: 100%;
            border: 0;
            padding: 1rem;
            border-radius: .5rem;
            background: #FEFEFE;
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
            resize: none;
            min-height: 130px;
        }
    }
}