.button {
    height: 50px;
    border-radius: .5rem;
    font-weight: 500;
    background: #835afd;
    color: #fff;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    cursor: pointer;

    img {
        margin-right: .5rem; 
    }

    &.outlined {
        background: #FFF;
        border: 1px solid #835AFD;
        color: #825AFD;
    }

    &:not(:disabled):hover {
        filter: brightness(0.95)
    }

    transition: filter 0.2s;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

